body {
  padding: 15px;
}

h1 {
  font-weight: bold;
  font-size: 18pt;
}

p {
  margin-bottom: 5px;
}

/*
Editor
*/
#editorDiv {
  width:   100%;
  position: relative;
  margin-top: 5px;
}

#editorDiv .linha{
  width: 100%;
}

#editorDiv .botaoLinha{
  min-width: 100%;
  text-align: left;
  border: 0px;
  padding: 0px;
  background-color: transparent;
}

#editorDiv .botaoLinha:hover,
#editorDiv .botaoLinha:focus,
#editorDiv .botaoLinha.expandido{
  background-color: #c6c7c8;
}

#editorDiv .palavra{
  display: inline-block;
  white-space: pre;
}

#execucaoIframe{
  display: none;
  width: 100%;
}